name: "Pull Request Docs Check"

on: 
- pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository  
        uses: actions/checkout@v2
        
      - name: Run Tune
        uses: abbbi/github-actions-tune@v1
        
      - name: Refresh Packages
        run: sudo apt-fast -y update
        
      - name: Install Dependencies
        run: xargs -a dependencies sudo apt-fast install -y

      - name: Python Setup
        uses: actions/setup-python@v4
        with:
          python-version: 3.8
          cache: 'pip'

      - name: Python Install Dependencies
        run: pip install -r docs/requirements.txt
        
      - name: Build site
        env:
          DOCS_BUILD: 'true'
          SPHINXOPTS: "-D html_context.commit=${{ github.sha }} -D version=latest -A display_github=true -A github_user=${{ github.repository_owner }} -A github_repo=${{ github.event.repository.name }} -A github_version=${{ github.ref_name }} -A conf_py_path=/docs/source/"
        run: make -C docs/ html
      - name: Build PDF
        run: |
          make -C docs/ latex
          make -C docs/build/latex -j 2
        
      - name: Move PDF
        run: cp docs/build/latex/*.pdf docs/build/html/
          
      - name: Archive Site
        uses: actions/upload-pages-artifact@v1
        with:
          path: 'docs/build/html'
        
      - name: Archive PDF
        env:
          PR_NUMBER: ${{ github.event.number }}
          ID:  ${{ github.run_attempt }}
        uses: actions/upload-artifact@v3
        with:
          name: "FTCDOCS-PR-${{ env.PR_NUMBER }}-${{ env.ID }}"
          path: docs/build/latex/*.pdf
          if-no-files-found: error
  spelling-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository  
        uses: actions/checkout@v2
        
      - uses: reviewdog/action-misspell@v1
        with:
          locale: "US"
          reporter: "github-check"

  link-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository  
        uses: actions/checkout@v2
        
      - name: Run Tune
        uses: abbbi/github-actions-tune@v1

      - name: Python Setup
        uses: actions/setup-python@v4
        with:
          python-version: 3.8
          cache: 'pip'

      - name: Python Install Dependencies
        run: pip install -r docs/requirements.txt

      - name: link-check
        run: make -C docs/ linkcheck SPHINXOPTS="-W --keep-going -n"

      - name: Archive Log
        if: ${{ failure() }}
        uses: actions/upload-artifact@v2
        env:
          PR_NUMBER: ${{ github.event.number }}
          ID:  ${{ github.run_attempt }}
        with:
          name: LINKCHECK-${{ env.PR_NUMBER }}-${{ env.ID }}
          path: docs/build/linkcheck/output.txt
